.Back {
  padding-top: 6px;
  padding-bottom: 6px;
  cursor:pointer;
}

.a1 {
  border:none;
  text-decoration: underline;
  color: rgb(72, 0, 114);
  cursor:pointer;
}

.next {
  padding-top: 6px;
  padding-bottom: 6px;
  cursor: pointer;
}

.stretch {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: green;
  color:white;
  border:none;
  cursor:pointer;
  transition: padding-top 1s, padding-bottom 1s, padding-left 1s, padding-right 1s;
}

.stretch:hover{
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
}


.shadow{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: green;
  color:white;
  border:none;
  cursor:pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

.shadow:active{
  box-shadow: none;
}


.stretch1{
  background-color: green;
  border:none;
  color:white;
  font-size: 15;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  Margin-left:10px;
  Margin-right:10px;
  transition: padding 0.15s, margin 0.15s;
}



.stretch1:hover{
  padding-left: 25px;
  padding-right: 25px;
  margin-left:0px;
  margin-right:0px;

}