p{
  font-family: arial;
  margin-top:0;
  margin-bottom: 0;
}

.account-name{
  font-weight:bold;
  margin-bottom: 7px;
}

.freecodecamp{
  color:gray;
  font-weight:normal;
  margin-bottom: 0px;
}

.text-row{
  width:550px;
}

.chp {
  color:rgb(32, 95, 178)
}
